# Contracts
contracts/cache/
contracts/out/
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/
contracts/docs/

# Environment
.env
contracts/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?